html, body {
    margin: 0;
    height: 100%;
    background-color: rgb(88, 16, 155);
}

.bg-teal {
    background-color: rgb(33, 141, 141)!important;
}

footer p a {
	margin:  5px 15px;
}

div.footer {
    padding: 24px;
    background-color: rgb(37, 61, 46)!important;
}